{% extends 'plantillas/base.html' %}

{% load static %}

{%block content %}
    <head >
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <meta charset="UTF-8">
    </head>
    
    <section class = "cabecera">
    <header>
        <h1 class = "TituloPrincipal"> Marquez </h1>
        <nav class = "menu">
            <a href = "{% url 'QuienesSomos' %}"> Quienes Somos </a> |
            <a href = "{% url 'Inmobiliaria' %}"> Inmobiliaria </a> |
            <a href = "{% url 'Regaleria' %}"> Regaleria </a> |
            <a href = "{% url 'Contacto' %}"> Contacto </a> 
        </nav>
    </header>
    </section>
<body>
    <section class="contenedor1"> soy el lateral </section>
    
    <section class = "contenedor">
        <div class = "box"> 
            <img class = "img_1", src="/static/imagenes/ciu_1.jpg"></img>
        </div>
        <div class="box">
            <img class = "img_1", src = "/static/imagenes/ciu_2.jpg"></img>
        </div>
        <div class="box">
            <img class = "img_1", src = "/static/imagenes/ciu_3.jpg"></img>
        </div>
        
    </section>

    <div class = "contenedor">
        <p class = "parrafo_cuerpo"> ACA IRIA UN CUADRO CON LOS INMUEBLES ARTICULOS RECIEN LLEGADOS </p>
        
        <div class = "box"> Hola es otro box </div>
        
    </div>

    <div class = "contenedor">
        <p class = "parrafo_cuerpo"> ACA IRIA UN CUADRO CON IMAGENES Y DETALLES DE LOS PRODUCTOS / INMUEBLES MAS DESTACADOS </p>
        
        <div class="box"> Hola es otro box</div>
        
    </div>
</body>

{% endblock %}

<img src="/static/imagenes/ciu_1.jpg"></img>
<img src="/static/imagenes/ciu_2.jpg"></img>
<img src="/static/imagenes/ciu_3.jpg"></img>
<img src="/static/imagenes/rega_1.jpg"></img>
<img src="/static/imagenes/rega_2.jpg"></img>
<img src="/static/imagenes/rega_3.jpg"></img>